<h1> Create new Article</h1>

<% if @article.errors.any? %>
  <h3> There are following errors : </h3>
  <ul>
    <% @article.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end  %>

<%= form_with scope: :article, url: :articles, local: true do |f| %>

  <p>
    <%= f.label :title %></br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %></br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end  %>